h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 60px; 
	padding: 0px;
}

h2 {
	font-size: 40px;
	font-family: 'Permanent Marker', cursive;
}
body {
	background-color: #FACC2E
}

.item {
	width: 800px;
}

.carousel img {
	min-width: 100%;
}

#carousel-id {
	height: 530px;
	width: 800px;
	position: relative;
}

p {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 18px;
	text-align: center;
}

